env.rc
versions.log
config.mk
fosshdl.tar.gz
yosys
sby
eqy
yices2
z3
super-prove-build
extavy
boolector
rIC3
ric3_venv
bitwuzla
bitwuzla_venv
ghdl
ghdl-yosys-plugin
nvc
uvvm
osvvm
verilator
iverilog
cocotb
vunit
arachne-pnr
nextpnr
icestorm
icestudio
